apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  releaseName: traefik
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  targetNamespace: traefik-system
  values:
    logs:
      general:
        level: "INFO"
      access:
        enabled: true
    # service:
    #   enabled: true
    #   type: NodePort
    ports:
      web:
        port: 30000
        nodePort: null
        exposedPort: 5678
      websecure:
        expose:
          default: false
    # ingress:
    #   traefik:
    #     exposeExternal: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 30000
          protocol: HTTP
          namespacePolicy:
            from: All
    
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
      kubernetesCRD:
        enabled: true
    
    dashboard:
      enabled: true
      # Insecure mode for easier access in development, not recommended for production
      insecure: true 