apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  releaseName: traefik
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  targetNamespace: traefik-system
  values:
    logs:
      general:
        level: "INFO"
      access:
        enabled: true
    # service:
    #   enabled: true
    #   type: NodePort
    # ports:
    #   web:
    #     nodePort: 30000
    #   websecure:
    #     nodePort: 30001
    # ingress:
    #   traefik:
    #     exposeExternal: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 8080
          protocol: HTTP
          namespacePolicy:
            from: All
          hostname: "*.418.local"
    
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
      kubernetesCRD:
        enabled: true
    
    dashboard:
      enabled: true
      # Insecure mode for easier access in development, not recommended for production
      insecure: true 